---
import Degree from './Degree.astro';
import type { Props as DegreeProps } from './Degree.astro';

export interface Props {
  /** List of degrees / certificates that were received. */
  degrees: DegreeProps[];
}

const { degrees } = Astro.props;
---

<article>
  <h2>Education</h2>
  <hr />
  {degrees.map((degree) => <Degree {...degree} />)}
</article>
