---
import type { Project } from '../data/resume';
import { makeId } from '../helpers';

export interface Props extends Project {
  organizationId: string;
}

const { id, organizationId, name, details } = Astro.props;
const displayId = makeId(organizationId, 'project', id);
---

<section class="mb-2">
  <a id={displayId} href={`#${displayId}`}>
    <h5 class="font-bold">{name}</h5>
    <ul class="my-0 list-disc list-inside">
      {details.map((detail) => <li class="ml-2">{detail}</li>)}
    </ul>
  </a>
</section>
